<h1>Check your score!</h1>
<form action='/scrabbleresult'>
 <div class="form-group">
  <label for="wordEntry">Enter a scrabble word:</label>
  <input type="text" class="form-control" id="wordEntry" name="wordEntry">
 </div>
 <button type="submit" class="btn btn-default">Submit</button>
</form>
